@charset "UTF-8";
@font-face {
  font-family: nunitoExtraBold;
  src: url(../webfonts/EncodeSansSemiBold.ttf);
}
@font-face {
  font-family: nunitoBold;
  src: url(../webfonts/fonts/nunitoBold.ttf);
}
@font-face {
  font-family: nunitoSemiBold;
  src: url(../webfonts/fonts/nunitoSemiBold.ttf);
}

body {
  font-family: 'nunitoExtraBold';
}

.clear-fix {
  margin-top: 50px;
  width: 640px;
}

.nav-edit .nav-tabs {
  border: 0;
}

.nav-edit .nav-tabs .nav-link.active {
  border: 0;
  background-color: #007bff;
  color: #fff;
  border-radius: 0;
}

.nav-edit .nav-tabs .nav-link {
  color: #999;
}

.tab-pane {
  padding: 30px 0px;
}

.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 24px
}

textarea {
  height: 200px;
}

.width-400 {
  width: 300px;
}

label {
  color: rgba(132, 132, 132, 1);
  font-size: 12px;
}